body {
    color: white;
    background-image: url("./bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 60%;
    padding: 0px 10px 20px;
    margin: 40px auto;
    font-family: "Manrope";
    font-weight: 300;
}

center {
    margin: 40px 0;
}

.containerOuter{
    background-color: hsla(0, 0%, 0%, 0.377);
    text-align: right;
    padding: 25px;
}

h1 {
    font-size: 20px;
    line-height: 26px;
}

p {
    font-size: 16px;
}

a {
    color: #42cef5;
    text-decoration: none;
    font-weight: normal;
}

a:hover {
    color: #f58742;
    font-weight: normal;
}

.aSelected{
    color: #48bce0;
    font-weight: bold;
}

ul {
    list-style-type: none;
}

li::before {
    content: "- ";
    line-height: 1.3;
}

.small {
    font-size: 12px;
}

@media screen and (max-width: 700px){
        body{max-width: 660px;}
}

@media screen and (max-width: 600px){
        body{max-width: 560px;}
}

@media screen and (max-width: 500px){
        body{max-width: 460px;}
}

@media screen and (max-width: 400px){
        body{max-width: 360px;}
}

@media screen and (max-width: 399px){
        body{max-width: 90%;}
}
